.searchArea .ant-form {
    display: inline-block;
    min-width: 100%;
}

.searchArea .ant-row {
    display: inline-block;
    margin-left: 20px;
}

.searchArea .formLable {
    margin-right: 8px;
}

.searchArea .ant-radio-button-wrapper {
    padding: 0;
}

.searchArea .ant-radio-button-wrapper span {
    margin-left: 10px;
    margin-right: 10px;
}

.searchArea .ant-btn {
    margin-left: 30px;
}

.searchArea .ant-btn span {
    margin: auto;
}

.searchArea .ant-radio-group-large .ant-radio-button-wrapper {
    margin-right: 10px;
}